.message-list {
    list-style: none outside none;
    margin: 0;
}

.message-list li {
    border-top: 1px solid #DDDDE2;
    padding: 10px;
}

.message-list li:hover {
    background-color: #DDDDE2;
}

.overview {
    padding: 0.5em 0.75em;
}