<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GEPS New Generation</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">ГЭПС</a>
            <div class="btn-group pull-right">
                <a class="btn btn-inverse" href="#">Насыров Р.В.</a>
                <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Выход</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="alert alert-info">
        <strong>Госпочта.</strong> В настоящий момент раздел предназначен для получения информационных сообщений от органов власти и организаций.
    </div>

    <div id="gepsapp">


    </div>

</div>

<script type="text/template" id="select-organization-dialog-template">
    <div class="modal hide fade selectOrganizationDialog" tabindex="-1"  role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>Выбор получателя обращения</h4>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#">Ведомства</a>
                </li>
                <li><a href="#">Частные организации</a></li>
                <li><a href="#">Группы</a></li>
            </ul>

            <ul class="nav nav-list">
                <li class="nav-header">Популярные</li>
                <li><a class="organization">ПФР</a></li>
                <li><a class="organization">Минкомсвязь России</a></li>
                <li><a class="organization">Минобороны</a></li>
                <li class="nav-header">Все</li>
                <li><a class="organization">ПФР</a></li>
                <li><a class="organization">Минкомсвязь России</a></li>
                <li><a class="organization">Минобороны</a></li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        </div>
    </div>
</script>

<script type="text/template" id="message-row-template">
    <td><input type="checkbox" <%= selected ? 'checked' : '' %>></td>
    <td><%= messageId %></td>
    <td><%= recipient %></td>
    <td><%= subject %></td>
    <td><%= updateDate %></td>
    <td><%= sendDate ? sendDate : 'Черновик' %></td>
</script>

<script type="text/template" id="messages-table-template">

    <div class="toolbar">
        <a id="createThread" class="btn btn-primary" href="#messages/edit"><i class="icon-plus"></i>Создать обращение</a>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                Создать из шаблона
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#templates/1">Статус обращения</a></li>
                <li><a href="#templates/2">Нет реакции на обращение</a></li>
                <li><a href="#templates/3">Использование интернет-портала</a></li>
            </ul>
        </div>

        <form class="form-search pull-right" style="display:inline">
            <div class="input-append">
                <input type="text" class="span3 search-query" placeholder="Поиск по госпочте">
                <button type="submit" class="btn">Search</button>
            </div>
        </form>

    </div>
    <br>

    <div class="alert loading">
        <strong>Загрузка...</strong>
    </div>

    <table class="table table-bordered table-striped table-hover hide">
        <thead>
        <tr>
            <th><input id="select-all" type="checkbox"></th>
            <th>Номер</th>
            <th>Ведомство</th>
            <th>Тема</th>
            <th>Изменено</th>
            <th>Отправлено</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div class="pagination pull-right">
        <ul>
            <li class="disabled"><a href="#">Пред</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#?page=2">2</a></li>
            <li><a href="#?page=3">3</a></li>
            <li><a href="#?page=4">4</a></li>
            <li><a href="#?page=2">След</a></li>
        </ul>
    </div>

</script>

<script type="text/template" id="message-view-template">
    <a class="btn btn-primary" href="/geps">Back</a>
</script>

<script type="text/template" id="message-edit-template">

    <a class="btn btn-primary send disabled">Отправить</a>
    <a class="btn sendSigned disabled">Подписать и отправить</a>
    <a class="btn save">В черновики</a>
    <a class="btn delete">Удалить</a>
    <a class="btn pull-right back">Назад</a>

    <form class="form-horizontal">
        <fieldset>
            <legend>Создать обращение</legend>
            <div class="control-group">
                <label class="control-label">Отправитель</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" value="<%= sender %>" disabled>
                </div>
            </div>
            <div id="field-recipient" class="control-group">
                <label class="control-label">Кому</label>
                <div class="controls">
                    <input id="recipient"
                           class="input-xlarge"
                           type="text"
                           value="<%= recipient %>"
                           placeholder="Выбрать получателя…" >
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Тип обращения</label>
                <div class="controls">
                    <select class="input-xlarge">
                        <option>Предложение</option>
                        <option>Заявление</option>
                        <option>Жалоба</option>
                    </select>
                </div>
            </div>
            <div id="field-subject" class="control-group" >
                <label class="control-label">Тема обращения</label>
                <div class="controls">
                    <input type="text"
                           id="subject"
                           name="subject"
                           class="input-xlarge"
                           value="<%= subject %>"
                           placeholder="Заполните тему…">
                    <span class="help-inline"></span>
                </div>
            </div>
            <div id="field-text" class="control-group">
                <label class="control-label">Обращение</label>
                <div class="controls">
                    <textarea id="text"
                              name="text"
                              rows="10"
                              class="input-xlarge"><%= text %></textarea>
                    <span class="help-inline"></span>
                </div>
            </div>
        </fieldset>
    </form>

    <a class="btn btn-primary send disabled">Отправить</a>
    <a class="btn sendSigned disabled">Подписать и отправить</a>
    <a class="btn save">В черновики</a>
    <a class="btn delete">Удалить</a>
    <a class="btn pull-right back">Назад</a>

    <div class="dialogHolder"></div>
</script>

<script src="static/js/lib/jquery-1.8.3.min.js"></script>
<script src="static/js/lib/bootstrap.min.js"></script>
<script src="static/js/lib/underscore-min.js"></script>
<script src="static/js/lib/backbone-min.js"></script>
<script src="static/js/model/message.js"></script>
<script src="static/js/collection/messages.js"></script>
<script src="static/js/view/message_row.js"></script>
<script src="static/js/view/message_list.js"></script>
<script src="static/js/view/message_view.js"></script>
<script src="static/js/view/organizations.js"></script>
<script src="static/js/view/message_edit.js"></script>
<script src="static/js/router.js"></script>

</body>
</html>